{% extends 'events/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Participants pour {{ event.title }}</h1>
    
    {% if tickets %}
        <ul class="list-group">
            {% for ticket in tickets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ ticket.user.first_name }} {{ ticket.user.last_name }} - {{ ticket.get_ticket_type_display }}</span>
                    <span class="badge bg-secondary">{{ ticket.user.email }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">Aucun participant pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
