{% extends 'users/base_users.html' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
    <div class="card mx-auto mt-5 p-4 shadow-lg" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="text-center text-danger"><i class="fas fa-key"></i> Réinitialisation du mot de passe</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-danger w-100">Réinitialiser</button>
            </form>
        </div>
    </div>
{% endblock %}
